<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/jumbotron-narrow.css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Расписание автобусов</h3>
          <blockquote>
              <h4 class="text-muted">Брест</h4>
              
          </blockquote>          
      </div>
      <div class="jumbotron">
           @RenderBody()
      </div>  
      <hr />
      <footer>
        <p class="text-muted">Брест 2015</p>
      </footer>
    </div> <!-- /container -->
    <img id="loadImg" src="Content/load.gif"  />
    <div id="loadBackground"></div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
